*{
    margin: 0;
    padding: 0;
}

#cover-page{
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
}

h1, span{
  font-family: 'IM Fell French Canon SC', serif;
}

a, h6, p{
  font-family: 'Martel', serif;
}

.navbar{
  position: fixed;
  display: grid;
  top: 0;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  width: 100%;
  background-color: #4457C0;
  align-items: center;
  z-index: 4;
}

.nav-item{
  padding: 25px;
  cursor: pointer;
  font-family: 'Martel', serif;
  font-size: 1.25em;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
}


main h2{
  text-align: center;
  font-family: Martel,Times New Roman,Times,serif;
  line-height: 0.9;
  font-weight: 900;
  color: #1763e9;
  padding: 15px;
  padding-top: 25px;
}

main h2:after{
  text-align: center;
  font-size: 3rem;
  content: "...";
  color: #1763e9;
  display: block;
}

.main-container{
  width: 100%;
  position: relative;
  top: 78px;
}

.main-content-about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.about-img{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

.about-content{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

.display-bar{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-content-projects{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 25px;
  padding-top: 0;
}

.projects-content-1{
  text-align: center;
  border: 1px black solid;
  border-right: none;
}

.projects-content-2{
  border: 1px black solid;
  padding: 25px;
}

.footer{
  position: relative;
  top: 78px;
  display: grid;
  width: 100%;
  background-color: #4457C0;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
}

.footer-item-1{
  color: white;
  padding: 15px 45px;
  font-family: 'Martel', serif;
  font-size: 1.25em;
}

.footer-item-2{
  padding: 15px 45px;
  justify-self: end;
}
